name: Job Worker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker build
        run: docker build . -t gitdigital/job-worker:latest

      - name: Check Dockerfile syntax
        uses: hadolint/hadolint-action@v3.1.0

      - name: Upload Dockerfile artifact
        uses: actions/upload-artifact@v4
        with:
          name: job-worker-dockerfile
          path: Dockerfile
